[Unit]
Description=HomeBot Service
Requires=network-online.target
After=network-online.target

[Service]
# Change WorkingDirectory with the directory where you have HomeBot configs
WorkingDirectory=/home/seba/Scrivania/Repositories/HomeBot
ExecStart=/usr/bin/python3.9 -m homebot
Type=simple
Restart=always
RestartSec=5
# If you want to execute it as non-root (recommended)
User=seba

[Install]
WantedBy=multi-user.target
